<div ng-controller="SidenavController">
  <md-toolbar>
    <div layout="row" layout-align="center center" class="md-toolbar-tools">
      <h1 class="nowrap">
        <a ui-sref="home" tabindex="-1">
          <span class="f-400">{{ cfg.brand_name }}</span>
        </a>
      </h1>
    </div>
  </md-toolbar>
  <md-content class="sidenav-content" layout="column" layout-align="center">
    <md-button flex flex-order="1" ng-if="auth.isAdmin()" ui-sref="admin.appConfig">
      <md-icon md-svg-icon="action:ic_settings_applications_24px"></md-icon>
      App Config
    </md-button>
    <md-button flex flex-order="2" ng-show="auth.isLogged()" ui-sref="profile.view({username: auth.user.username})">
      <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
      My Profile
    </md-button>
    <md-button flex flex-order="3" ng-hide="auth.isLogged()" ui-sref="signin" class="md-primary">
      <md-icon md-svg-icon="action:ic_input_24px"></md-icon>
      Sign In
    </md-button>
    <md-button flex flex-order="4" ng-hide="auth.isLogged()" ui-sref="signup">
      <md-icon md-svg-icon="social:ic_person_add_24px"></md-icon>
      Sign Up
    </md-button>
    <md-button flex flex-order="5" ui-sref="users">
      <md-icon md-svg-icon="social:ic_group_24px"></md-icon>
      Users
    </md-button>
    <md-button flex flex-order="6" ng-show="cfg.has_feedback_form" ui-sref="feedback">
      <md-icon md-svg-icon="action:ic_feedback_24px"></md-icon>
      Feedback
    </md-button>
    <md-button flex flex-order="7" ng-show="cfg.development" ng-hide="true" ng-click="generateDatabase()">
      <md-icon md-svg-icon="device:ic_storage_24px"></md-icon>
      Generate Database
    </md-button>
    <md-button flex flex-order="8" ng-show="auth.isLogged()" ui-sref="signout" class="md-warn">
      <md-icon md-svg-icon="action:ic_exit_to_app_24px"></md-icon>
      Sign Out
    </md-button>
    <md-button flex flex-order="9" hide-gt-md ng-click="closeSidenav()" class="md-primary">
      <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
      Close
    </md-button>
  </md-content>
</div>
