<div layout="row" layout-fill layout-align="center start">
    <div flex flex-gt-md="80" flex-gt-lg="70">
        <md-toolbar class="md-accent">
            <h1 class="md-toolbar-tools">Sign in</h1>
        </md-toolbar>

        <md-content class="md-whiteframe-z1">
            <form name="signinForm" layout-margin>
                <div layout="column" flex>
                  <md-input-container flex flex-order="1">
                      <label>Email or Username</label>
                      <input ng-model="credentials.login"
                             required
                             tabindex="1"
                             autofocus
                             name="login" type="text">

                  </md-input-container>
                  <ga-password flex flex-order="2" ng-model="credentials.password"
                               input-tabindex="2"
                               name="password"></ga-password>
                  <ga-captcha flex flex-order="3" ng-model="credentials.captcha" ng-hide="true" ng-required="true" class="mar-bot-15"
                              control="captchaControl"></ga-captcha>
                </div>
              <div layout="column" layout-gt-sm="row" layout-margin>
                  <md-button flex flex-order="3" flex-order-gt-sm="1"
                             tabindex="5"
                             ui-sref="forgot">Forgot password?
                  </md-button>
                  <md-button flex flex-order="2" flex-order-gt-sm="2"
                             tabindex="4"
                             ui-sref="signup">Sign up
                  </md-button>
                  <md-button flex flex-order="1" flex-order-gt-sm="3"
                             class="md-raised md-primary"
                             ng-disabled="!signinForm.$valid || isLoading"
                             type="submit"
                             tabindex="3"
                             ng-click="signin()">
                      Sign In
                  </md-button>
              </div>
            </form>
            <ga-auth-options remember="credentials.remember"></ga-auth-options>
        </md-content>
    </div>
</div>
